<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
        <env name="DUMP_LIGHT_ARRAY" value="" />
        <env name="DUMP_STRING_LENGTH" value="" />
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./src/Response/Tests/</directory>
            <directory>./src/Request/Tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/*/Tests</directory>
            <file>src/autoload.php</file>
        </exclude>
    </coverage>
</phpunit>
